# Data Manipulation using PANDAS

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [4]:
# load data set

sales = pd.read_csv('sales.csv')

In [5]:
# view the first 5 rows
sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

## Pandas Functions and Attributes

In [6]:
# What is this sales object?

sales.dtypes

Date                object
Day                  int64
Month               object
Year                 int64
Customer_Age         int64
Age_Group           object
Customer_Gender     object
Country             object
State               object
Product_Category    object
Sub_Category        object
Product             object
Order_Quantity       int64
Unit_Cost            int64
Unit_Price           int64
Profit               int64
Cost                 int64
Revenue              int64
dtype: object

In [7]:
# Get the dataset's total number of rows and columns
## Shape is attribute not a function, so thats why could not use () after that
sales.shape

(113036, 18)

In [8]:
# information about data frame
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

## Subsetting Data

### Accessing the particular column from the dataset (usually two are used)

In [13]:
# Access tje particular column

# Method-1:

sales['Country']

0                 Canada
1                 Canada
2              Australia
3              Australia
4              Australia
               ...
113031    United Kingdom
113032         Australia
113033         Australia
113034            France
113035            France
Name: Country, Length: 113036, dtype: object

In [11]:
# Method-2: (but if column name contains spaces then this methods doesn't work)
sales.Country

0                 Canada
1                 Canada
2              Australia
3              Australia
4              Australia
               ...
113031    United Kingdom
113032         Australia
113033         Australia
113034            France
113035            France
Name: Country, Length: 113036, dtype: object

In [14]:
# Assigning a column data to a variable

country_names = sales['Country']

In [15]:
# Access the multiple columns: for that we needed two square brackets (use the python's list approach)
sales[['Country', 'Age_Group', 'Product_Category']]

               Country       Age_Group Product_Category
0               Canada     Youth (<25)      Accessories
1               Canada     Youth (<25)      Accessories
2            Australia  Adults (35-64)      Accessories
3            Australia  Adults (35-64)      Accessories
4            Australia  Adults (35-64)      Accessories
...                ...             ...              ...
113031  United Kingdom  Adults (35-64)         Clothing
113032       Australia     Youth (<25)         Clothing
113033       Australia     Youth (<25)         Clothing
113034          France  Adults (35-64)         Clothing
113035          France  Adults (35-64)         Clothing

[113036 rows x 3 columns]

In [16]:
# Accessing the columns names in the datasets (Variable names)
sales.columns

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price',
       'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [17]:
# Delete Columns

# Method-1:

del sales['Country']
sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [18]:
# Method-2: Removing or deleting columns

sales.drop('Customer_Age', axis = 1, inplace=True)
sales.head()

,Date,Day,Month,Year,Age_Group,Customer_Gender,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,Youth (<25),M,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,Youth (<25),M,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,Adults (35-64),M,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,Adults (35-64),M,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,Adults (35-64),F,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [19]:
# Get our original data back

sales = pd.read_csv('sales.csv')

sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

## Checking Row wise data

### Using Method "loc and iloc"

- loc gets rows (or columns) with particular labels from the index

- iloc gets rows (or columns) at particular postions in the index (so it only takes integers)

In [20]:
# Accessing the first row
sales.loc[0]

Date                         2013-11-26
Day                                  26
Month                          November
Year                               2013
Customer_Age                         19
Age_Group                   Youth (<25)
Customer_Gender                       M
Country                          Canada
State                  British Columbia
Product_Category            Accessories
Sub_Category                 Bike Racks
Product             Hitch Rack - 4-Bike
Order_Quantity                        8
Unit_Cost                            45
Unit_Price                          120
Profit                              590
Cost                                360
Revenue                             950
Name: 0, dtype: object

In [21]:
# 100th row

sales.loc[99]

Date                          2015-10-25
Day                                   25
Month                            October
Year                                2015
Customer_Age                          32
Age_Group           Young Adults (25-34)
Customer_Gender                        M
Country                    United States
State                         California
Product_Category             Accessories
Sub_Category                  Bike Racks
Product              Hitch Rack - 4-Bike
Order_Quantity                         9
Unit_Cost                             45
Unit_Price                           120
Profit                               653
Cost                                 405
Revenue                             1058
Name: 99, dtype: object

In [22]:
# this will fail in 'loc' method but it will work in 'iloc' method
sales.iloc[-1]

Date                     2016-03-04
Day                               4
Month                         March
Year                           2016
Customer_Age                     37
Age_Group            Adults (35-64)
Customer_Gender                   F
Country                      France
State                 Seine (Paris)
Product_Category           Clothing
Sub_Category                  Vests
Product             Classic Vest, L
Order_Quantity                   23
Unit_Cost                        24
Unit_Price                       64
Profit                          655
Cost                            552
Revenue                        1207
Name: 113035, dtype: object

In [23]:
# iloc Method

sales.iloc[[-1, -3]] # Multiple row data

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183

In [24]:
sales.tail()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,Clothing,Vests,"Classic Vest, S",3,24,64,112,72,184
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

### Particular Rows and Columns

In [26]:
# using loc method
sales.loc[[0,99,999], ['Country', 'Age_Group', 'Product_Category']] # it will work only for the column names not index

           Country             Age_Group Product_Category
0           Canada           Youth (<25)      Accessories
99   United States  Young Adults (25-34)      Accessories
999        Germany        Adults (35-64)      Accessories

In [27]:
# using iloc method

sales.iloc[[9,99,999], [7,5,9]] # it will work only for index not the column names

           Country             Age_Group Product_Category
9        Australia        Adults (35-64)      Accessories
99   United States  Young Adults (25-34)      Accessories
999        Germany        Adults (35-64)      Accessories

In [29]:
# Get the under 25 customers sales data of the United States

# Method-1
sales.loc[(sales['Country'] == 'United States') & (sales['Age_Group'] == 'Youth (<25)')]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
56,2013-12-31,31,December,2013,23,Youth (<25),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,436,270,706
57,2015-12-31,31,December,2015,23,Youth (<25),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,508,315,823
122,2014-05-10,10,May,2014,22,Youth (<25),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,73,45,118
123,2016-05-10,10,May,2016,22,Youth (<25),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,73,45,118
152,2013-12-31,31,December,2013,24,Youth (<25),F,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,291,225,516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113013,2015-09-16,16,September,2015,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",30,24,64,778,720,1498
113014,2013-12-10,10,December,2013,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",8,24,64,207,192,399
113015,2015-12-10,10,December,2015,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",6,24,64,156,144,300
113016,2013-10-04,4,October,2013,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",16,24,64,497,384,881
113017,2015-10-04,4,October,2015,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",18,24,64,559,432,991

In [30]:
# Method-2

# ":" in python means give me all the columns

sales.loc[(sales['Country'] == 'United States') & (sales['Age_Group'] == 'Youth (<25)'), :]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
56,2013-12-31,31,December,2013,23,Youth (<25),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,6,45,120,436,270,706
57,2015-12-31,31,December,2015,23,Youth (<25),M,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,7,45,120,508,315,823
122,2014-05-10,10,May,2014,22,Youth (<25),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,73,45,118
123,2016-05-10,10,May,2016,22,Youth (<25),F,United States,California,Accessories,Bike Racks,Hitch Rack - 4-Bike,1,45,120,73,45,118
152,2013-12-31,31,December,2013,24,Youth (<25),F,United States,Oregon,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,291,225,516
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113013,2015-09-16,16,September,2015,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",30,24,64,778,720,1498
113014,2013-12-10,10,December,2013,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",8,24,64,207,192,399
113015,2015-12-10,10,December,2015,20,Youth (<25),F,United States,Washington,Clothing,Vests,"Classic Vest, M",6,24,64,156,144,300
113016,2013-10-04,4,October,2013,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",16,24,64,497,384,881
113017,2015-10-04,4,October,2015,20,Youth (<25),M,United States,Oregon,Clothing,Vests,"Classic Vest, L",18,24,64,559,432,991

In [31]:
profit_mean = sales['Profit'].mean()
profit_mean

285.0516649562971

In [32]:
# Select all data entries against which profit is greater than mean (average) value

# Method-1
sales.loc[sales['Profit'] > profit_mean]

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
5,2016-05-15,15,May,2016,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,297,225,522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113027,2015-07-08,8,July,2015,29,Young Adults (25-34),M,Germany,Hessen,Clothing,Vests,"Classic Vest, L",21,24,64,746,504,1250
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,Clothing,Vests,"Classic Vest, M",22,24,64,655,528,1183
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",24,24,64,684,576,1260
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),Clothing,Vests,"Classic Vest, L",23,24,64,655,552,1207

## Grouped and Aggregated Calculations

### Use of "groupby" function

In [33]:
# Group the data country wise
sales.groupby("Country")

In [34]:
# How many time each particular country value repeated in data?
sales.groupby("Country").count()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
Country,,,,,,,,,,,,,,,,,
Australia,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936,23936
Canada,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178,14178
France,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998,10998
Germany,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098,11098
United Kingdom,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620,13620
United States,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206,39206