# Data Manipulation using PANDAS

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [4]:
# load data set

sales = pd.read_csv('sales.csv')

In [5]:
# view the first 5 rows
sales.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

## Pandas Functions and Attributes

In [6]:
# What is this sales object?

sales.dtypes

Date                object
Day                  int64
Month               object
Year                 int64
Customer_Age         int64
Age_Group           object
Customer_Gender     object
Country             object
State               object
Product_Category    object
Sub_Category        object
Product             object
Order_Quantity       int64
Unit_Cost            int64
Unit_Price           int64
Profit               int64
Cost                 int64
Revenue              int64
dtype: object

In [7]:
# Get the dataset's total number of rows and columns
## Shape is attribute not a function, so thats why could not use () after that
sales.shape

(113036, 18)

In [8]:
# information about data frame
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

## Subsetting Data

### Accessing the particular column from the dataset (usually two are used)

In [9]:
# Access tje particular column

# Method-1:

sales['Country']

0                 Canada
1                 Canada
2              Australia
3              Australia
4              Australia
               ...
113031    United Kingdom
113032         Australia
113033         Australia
113034            France
113035            France
Name: Country, Length: 113036, dtype: object

In [11]:
# Method-2: (but if column name contains spaces then this methods doesn't work)
sales.Country

0                 Canada
1                 Canada
2              Australia
3              Australia
4              Australia
               ...
113031    United Kingdom
113032         Australia
113033         Australia
113034            France
113035            France
Name: Country, Length: 113036, dtype: object